/bin/
/binSrc/
/binTest/
/build/
.classpath
.gradle/
.project
/tmp/
.settings/
.idea/
temp/
*.log
dep.txt
config/configuration.yaml
src/main/resources/rebel.xml
src/main/resources/version.properties
*.iml
*.gz
logs/
